@{
	ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<table id="tableMain" class="cell-border">
	<thead>
		<tr>
			<th>Seq</th>
			<th>Name</th>
			<th>Last Verified</th>
			<th>Symetric Key Algorithms</th>
			<th>Valid</th>
			<th>Deprecated</th>
			<th>Quantum Vulnerable</th>
			<th>Asymetric Key Algorithms</th>
			<th>Valid</th>
			<th>Deprecated</th>
			<th>Quantum Vulnerable</th>
			<th>Hash Function</th>
			<th>Valid</th>
			<th>Deprecated</th>
			<th>Quantum Vulnerable</th>
			<th>Message Authentication Codes (MAC)</th>
			<th>Valid</th>
			<th>Deprecated</th>
			<th>Quantum Vulnerable</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td data-search="MyPB Online Banking">
				MyPB Online Banking
				<div class="container-badge">
					<span class="pqc-badge badge-win">WIN</span>
					<span class="pqc-badge badge-db">DB</span>
					<span class="pqc-badge badge-mw">MW</span>
				</div>
			</td>
			<td></td>
			<td class="toggle-vis" data-column="4,5,6">2</td>
			<td></td>
			<td></td>
			<td></td>
			<td class="toggle-vis" data-column="8,9,10">4</td>
			<td></td>
			<td></td>
			<td></td>
			<td class="toggle-vis" data-column="12,13,14">3</td>
			<td></td>
			<td></td>
			<td></td>
			<td class="toggle-vis" data-column="16,17,18">0</td>
			<td></td>
			<td></td>
			<td></td>
			<td>
				<span class="button button-secondary">
					<span class="button-text">Edit</span>
					<span class="button-icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
							<path d="M3.2478 18.1001V14.5584L14.2478 3.57926C14.4145 3.42649 14.5986 3.30843 14.8003 3.2251C15.002 3.14176 15.2136 3.1001 15.4353 3.1001C15.657 3.1001 15.8722 3.14176 16.0811 3.2251C16.29 3.30843 16.4706 3.43343 16.6228 3.6001L17.7686 4.76676C17.9353 4.91954 18.057 5.1001 18.1336 5.30843C18.2103 5.51676 18.2484 5.7251 18.2478 5.93343C18.2478 6.15565 18.2097 6.3676 18.1336 6.56926C18.0575 6.77093 17.9359 6.95482 17.7686 7.12093L6.78947 18.1001H3.2478ZM15.4145 7.1001L16.5811 5.93343L15.4145 4.76676L14.2478 5.93343L15.4145 7.1001Z" fill="black" />
						</svg>
					</span>
				</span>
			</td>
		</tr>
		<tr>
			<td></td>
			<td data-search="MyPB Mobile">
				MyPB Mobile
				<div class="container-badge">
					<span class="pqc-badge badge-win">WIN</span>
					<span class="pqc-badge badge-db">DB</span>
					<span class="pqc-badge badge-mw">MW</span>
				</div>
			</td>
			<td></td>
			<td class="toggle-vis" data-column="4,5,6">2</td>
			<td></td>
			<td></td>
			<td></td>
			<td class="toggle-vis" data-column="8,9,10">4</td>
			<td></td>
			<td></td>
			<td></td>
			<td class="toggle-vis" data-column="12,13,14">3</td>
			<td></td>
			<td></td>
			<td></td>
			<td class="toggle-vis" data-column="16,17,18">0</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>