@{
	ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<table id="example" class="cell-border">
	<thead>
		<tr>
			<th>Seq</th>
			<th>Name</th>
			<th>Last Verified</th>
			<th>Symetric Key Algorithms</th>
			<th>Valid</th>
			<th>Deprecated</th>
			<th>Quantum Vulnerable</th>
			<th>Asymetric Key Algorithms</th>
			<th>Valid</th>
			<th>Deprecated</th>
			<th>Quantum Vulnerable</th>
			<th>Hash Function</th>
			<th>Valid</th>
			<th>Deprecated</th>
			<th>Quantum Vulnerable</th>
			<th>Message Authentication Codes (MAC)</th>
			<th>Valid</th>
			<th>Deprecated</th>
			<th>Quantum Vulnerable</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td data-search="MyPB Online Banking">
				MyPB Online Banking
				<div class="container-badge">
					<span class="pqc-badge badge-win">WIN</span>
					<span class="pqc-badge badge-db">DB</span>
					<span class="pqc-badge badge-mw">MW</span>
				</div>
			</td>
			<td></td>
			<td class="toggle-vis" data-column="4,5,6">2</td>
			<td></td>
			<td></td>
			<td></td>
			<td class="toggle-vis" data-column="8,9,10">4</td>
			<td></td>
			<td></td>
			<td></td>
			<td class="toggle-vis" data-column="12,13,14">3</td>
			<td></td>
			<td></td>
			<td></td>
			<td class="toggle-vis" data-column="16,17,18">0</td>
			<td></td>
			<td></td>
			<td></td>
			<td><button class="btn btn-sm btn-outline-dark my-2 my-sm-0">Edit</button></td>
		</tr>
		<tr>
			<td></td>
			<td data-search="MyPB Mobile">
				MyPB Mobile
				<div class="container-badge">
					<span class="pqc-badge badge-win">WIN</span>
					<span class="pqc-badge badge-db">DB</span>
					<span class="pqc-badge badge-mw">MW</span>
				</div>
			</td>
			<td></td>
			<td class="toggle-vis" data-column="4,5,6">2</td>
			<td></td>
			<td></td>
			<td></td>
			<td class="toggle-vis" data-column="8,9,10">4</td>
			<td></td>
			<td></td>
			<td></td>
			<td class="toggle-vis" data-column="12,13,14">3</td>
			<td></td>
			<td></td>
			<td></td>
			<td class="toggle-vis" data-column="16,17,18">0</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>