html {
    font-size: 14px;
    font-family: Montserrat;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*Custom*/

.container {
    width:100% !important;
    max-width:100% !important;
}

.container-badge {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    align-self: stretch;
}

.pqc-badge {
    display: flex;
    height: 19px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

    .pqc-badge.badge-win {
        background: #ECEFF9;
        color: #184599;
    }

    .pqc-badge.badge-db {
        background: #D6FDD9;
        color: #007E0A;
    }

    .pqc-badge.badge-mw {
        background: #FFB547;
        color: #FFFFFF;
    }

    .pqc-badge .badge-unix {
        color: #184599;
    }

    .pqc-badge .badge-oth {
        color: #184599;
    }

.toggle-vis {
    cursor: pointer;
}

.container-table {
    display: flex;
    height: 812px;
    padding: 8px;
    align-items: flex-end;
    align-self: stretch;
}

/*#example {
    border-collapse: separate;
    border-spacing: 16px;
    *border-collapse: expression('separate', cellSpacing = '16px');
}*/

/*header {
    display: flex;
    width: 100%;
    padding: 24px;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}*/

.icon-search {
    background: url('/images/icons/search.svg')
}

/*Category*/
.category-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.category-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.category-container {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 62px;
    flex: 1 0 0;
    border-radius: 8px;
    background: #E9E9E9;
}

.category-frame1 {
    display: flex;
    align-items: center;
    gap: 37px;
    align-self: stretch;
}

.category-titleicon {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
}

.category-title {
    flex: 1 0 0;
    color: #1C2534;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

    .category-title.disabled {
        color: #515151 !important;
    }

.category-frame2 {
    display: flex;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*align-self: stretch;*/
}

.category-frame2-text {
    flex: 1 0 0;
    color: #000;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.category-checkboxselection {
    display: flex;
    min-height: 42px;
    align-items: center;
    gap: 8px;
}

.category-add {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
}

/*Button*/
.button {
    display: inline-flex;
    padding: 10px 32px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.button-primary {
    border-radius: 8px;
    background: #1C2534;
    color: #FFF;
}

    .button-primary:hover {
        background: #181F2C;
    }

    .button-primary:active {
        background: #141A24;
    }

.button-secondary {
    border-radius: 8px;
    border: 2px solid #000;
    background: #FFF;
    color: #1F1F1F;
}

    .button-secondary:hover {
        background: #D9D9D9;
    }

    .button-secondary:active {
        background: #B3B3B3;
    }

.button-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button-icon {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/*Header*/
.header-search {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    flex: 1 0 0;
    align-self: stretch;
}

.header-search-input {
    display: flex;
    /*  padding: 10px 14px;*/
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #F0F0F0;
    box-shadow: 0px 2px 4px 0px rgba(233, 233, 233, 0.25);
    width: 100%;
    background-image: url(/images/icons/search.svg);
    background-position: 12px 18px;
    background-repeat: no-repeat;
    padding: 10px 12px 10px 40px;
}

/*Add*/

.add-screen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    background: #F6F6F8;
}

.add-content {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.modal-dialog {
    display: flex;
    /*    width: 1416px;
    height: 885px;*/
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    background: #FFF;
}

.modal-body {
    display: flex;
    padding: 12px 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
}

.modal-title {
    align-self: stretch;
    color: #1F1F1F;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 128.571% */
    letter-spacing: 0.5px;
}

.modal-searchbar {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch;
}

.modal-searchbar-input {
    display: flex;
    /*padding: 10px 14px;*/
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #F0F0F0;
    box-shadow: 0px 2px 4px 0px rgba(233, 233, 233, 0.25);
    width: 100%;
    background-image: url(/images/icons/search.svg);
    background-position: 14px 16px;
    background-repeat: no-repeat;
    padding: 10px 12px 10px 40px;
}

#tableITD_wrapper {
    width: 100%;
}

/*Form step*/

.form-step {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.form-step-item {
    display: flex;
    padding: 12px 24px;
    align-items: center;
    flex: 1 0 0;
    background: #E9E9E9;
}

    .form-step-item .text {
        color: #333;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.5px;
    }

    .form-step-item.active {
        background: #4B5766 !important;
    }

        .form-step-item.active .text {
            flex: 1 0 0;
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.5px;
        }

.form-content {
    display: flex;
    padding: 12px 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 12px;
    background: #FFF;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.form-text{
    width: 100%;
}

.form-text-label {
    align-self: stretch;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form-group-radio {
    display: flex;
    align-items: flex-start;
    gap: 56px;
    align-self: stretch;
}

.form-group-check {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.category-form {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
}

    .category-form.footer {
        display: flex;
        align-items: flex-start;
        gap: 36px;
        align-self: stretch;
    }

.form-select{
    width: 100%;
}

.form-footer {
    display: flex;
    padding: 24px 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.float-right{
    float:right;
}

/* Style the form */
#regForm {
    /* background-color: #ffffff;
                                                                                                                                            margin: 48px auto;
                                                                                                                                            padding: 40px;
                                                                                                                                            width: 100%; */
    /* min-width: 300px; */
    width: 100%;
}

/* Style the input fields */
/* input {
                                                                                                                                                                                  padding: 10px;
                                                                                                                                                                                  width: 100%;
                                                                                                                                                                                  font-size: 17px;
                                                                                                                                                                                  font-family: Raleway;
                                                                                                                                                                                  border: 1px solid #aaaaaa;
                                                                                                                                                                                } */

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
    padding: 12px 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 12px;
    background: #FFF;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

    /* Mark the active step: */
    .step.active {
        opacity: 1;
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
        background-color: #04AA6D;
    }

.header-title {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
    color: #1F1F1F;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 128.571% */
    letter-spacing: 0.5px;
}


.category-form.rOnly {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    align-self: stretch;
    border-radius: 8px;
    background: #E9E9E9;
}